@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div#myModal {
    padding: 0 !important;
    margin: 0 !important;
}

a.btn.btn-primary {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top.page-scroll.visible-xs.visible-sm {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

input#exampleForm1 {
    background: rgba(0, 0, 0, 0.4) !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.caption-content {
    position: absolute;
    top: 43%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24, 188, 156, .9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.caption:hover {
    opacity: 1;
}

.caption {}

a.portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

p {
    text-align: justify;
}

footer.footer {
    background: #353f47;
    padding: 80px 0;
    font-size: 14px;
}

.footer .text-uppercase {
    color: #515f67;
}

button.btn.btn-primary {
    padding: 5px 60px;
    border-radius: 0;
}

textarea#exampleFormControlTextarea1 {
    background: rgba(0, 0, 0, 0.4) !important;
    border-radius: 0 !important;
    color: #fff !important;
}

ul.list-unstyled {
    font-size: 14px;
}

.block8 p {
    font-size: 14px;
}

input#exampleForm2 {
    background: rgba(0, 0, 0, 0.4) !important;
    border-radius: 0 !important;
    color: #fff !important;
}

i.fa.fa-handshake-o {
    font-size: 30px;
}

.block4 p {
    font-size: 14px;
}

button.btn.btn-outline-dark.text-uppercase.font-weight-bold.rounded-0 {
    border: 3px solid;
    padding: 10px 30px;
}

.block4 section {
    padding: 80px 0;
}

.block1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(../img/bg.jpg);


}

.my-move {
    background: url(../img/4bfc14e9-f288-4e14-85bb-f46f71cf5192.png);
    width: 151px;
    height: 140px;
    animation: playx 0.5s steps(8) infinite, playy 2s steps(4) infinite;
}

@keyframes playx {
    100% {
        background-position-x: -1207px;

    }
}

@keyframes playy {
    100% {
        background-position-y: -605px;

    }
}



.darkHeader {
    background: #333 !important;

}

.block1 header .container {
    padding: 5px 0;
}

@media only screen and (min-width: 768px) {
    .block1 a:hover.nav-link.text-light {
        color: #4bcaff !important;
        border: 2px solid #4bcaff;
    }
}

.banner .container {
    padding-top: 400px;
    padding-bottom: 260px;
}

.banner .container h3 {
    background: rgba(0, 0, 0, 0.5)
}

.block2 {
    background: #4bcaff;
}

.block2 section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.underlined {
    width: 130px;

    padding-bottom: 11px;
    border-bottom: 2px solid #fff;

}

.block2 section .row {
    padding-top: 60px;
}

.block2 section .icon-01 {
    background: url(../img/coffee.png)no-repeat;
    height: 50px;

}

.block2 section .icon-02 {
    background: url(../img/instant.png)no-repeat;
    height: 50px;

}

.block2 section .icon-03 {
    background: url(../img/dslr.png)no-repeat;
    height: 50px;

}

.block2 section .icon-04 {
    background: url(../img/frame.png)no-repeat;
    height: 50px;

}

.block2 section .text {
    padding-top: 20px;
    font-size: 12px;
}

.block3,
a {
    color: #69747b !important;

}

.underlined2 {
    width: 50px;
    background: #69747b;
    padding: 1px 0;
}

.block3 .img-block3 {
    width: 100%;
    height: 200px;

}

.block3 section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.block3 a:hover.text-decoration-none.hover-3 {
    color: #4bcaff !important;
    border: 2px solid #4bcaff;
    padding: 5px;

}



.block4 {
    background: #515f67;
}

.underlined4 {
    width: 50px;
    background: white;
    padding: 1px 0;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .buttom-block4 {
        margin-bottom: 1rem !important;
    }
}

.block5 {
    background: #4bcaff;
    padding: 80px 0;
}

.block5 p.text-light {
    font-size: 25px;
}

.block5 .fa.fa-twitter.h2.text-light {
    font-size: 30px;
}

.block6 {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(../img/vutru.jpg) center;
    background-size: cover;
    background-position: top;
    padding: 80px 0;
}

.icon-block6 {
    font-size: 30px !important;
    border: 2px solid;
    padding: 15px;
    margin: 0 5px;
}

.block7 section {
    padding: 80px 0;
    color: #69747b;
}

.block8 {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(../img/Layer-1.jpg) center;
    background-size: cover;
    background-position: top;
    padding: 80px 0;
}



@media (max-width: 991px) {
    .menu-block3.float-right {
        display: none;
    }
}

@media (min-width: 991px) {
    button#dropdownMenu2 {
        display: none;
    }
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #2c3e50;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}


.footer-above li {
    display: inline-block;
}

.footer-above h3 {
    text-transform: uppercase;
}



.modal-full {
    min-width: 100%;    
}

.modal-full .modal-content {
    min-width: 100vh;
}

img.cangiua {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}